.custom-card-body {
    height: 245px; /* Altura específica */
    display: flex;
    flex-direction: column; /* Alinea elementos verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    padding: 15px;
    margin: 10px; /* Espacio entre tarjetas */
}

/* Media queries para ajustar el ancho en diferentes pantallas */
@media (min-width: 576px) { /* Pantallas pequeñas y superiores */
    .custom-card-body {
        width: 100%; /* Ocupa el 100% del contenedor */
    }
}

@media (min-width: 768px) { /* Pantallas medianas y superiores */
    .custom-card-body {
        width: 75%; /* Ocupa el 75% del contenedor */
    }
}

@media (min-width: 992px) { /* Pantallas grandes y superiores */
    .custom-card-body {
        width: 50%; /* Ocupa el 50% del contenedor */
    }
}

@media (min-width: 1200px) { /* Pantallas extra grandes */
    .custom-card-body {
        width: 300px; /* Ancho fijo solo en pantallas grandes */
    }
}
